ul.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A0C878;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 1.2rem;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
    position: relative;
    width: auto;
}

.list111 {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.clamtam img {
    display: block;
    height: 6rem;
    width: auto;
    margin-right: auto;
    padding-left: 0.6rem;
}

.clamtam {
    display: flex;
    margin-right: auto;
    flex: 1;
}

li a {
    display: block;
    color: #143D60;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
}
li a:hover {
    background: rgb(144, 182, 107);
    transition: 0.5s;
}

body {
    background-color: #27667B;
    font-size: 1rem;
    height: 100%;
    min-height: 100vh;
}

main.test {
    flex: 1;
}

.logo1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: fit-content;
    align-items: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: #A0C878;
    text-align: center;
}

.Blog1 {
    font-family: "Roboto", sans-serif;
    justify-content: center;
    color: #A0C878;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
    flex-grow: 1;
}

p {
    font-family: "Roboto", sans-serif;
    color: #A0C878;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 2rem;
    max-width: 115rem;
    flex-grow: 1;
    text-align: center;
    line-height: 1.6; 
}

html {
    height: 100%;
    flex-direction: column;
    flex: 1;
}



main {
    display: flex;
    flex: 3;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    color: #A0C878;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
}

h3 {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    color: #A0C878;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #143D60;
}

.blogp2, .blogp3 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.Bod {
    display: flex;
}

a {
    text-decoration: underline;
    color: #A0C878;
}

p a:hover {
    color: rgb(120, 151, 89);
    transition: 0.2s;
}

.sidebar {
    display: flex;
    padding: 3rem;
}

.innertext {
    padding: 3rem;
    margin-left: -3rem;
}

aside {
    display: flex;
    justify-content: center;
}

aside img {
    display: flex;
    width: 25vw;
    max-width: 100%;
    height: auto;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

ul.FPMLi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #A0C878;
  gap: 0.2rem;
  flex: 1;                  /* let the list resize nicely */
  max-width: 50%;           /* prevent it from getting too wide */
}

ul.ULTC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: decimal;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #A0C878;
  gap: 0.2rem;
  flex: 1;                  /* let the list resize nicely */
  max-width: 50%;           /* prevent it from getting too wide */
}

ul.FPMLi li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  line-height: 1.2;
}

ul.FPMLi li p {
  margin: 0;
  padding: 0;
}

p.MPP{
    display: flex;
    align-items: right;
    justify-content: end;
}

.TCIMG1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TCIMG1 img {
    border-radius: 1rem;
}

.snek iframe {
    border-radius: 1.5rem;
}

.MP1 {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 2000px; 
}

.MP1 p {
  font-family: "Roboto", sans-serif;
  color: #A0C878;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 2rem;
  text-align: justify;   /* justify text instead of center */
  max-width: 2000px;      /* keeps text neat and readable */
  line-height: 1.6;      /* improves readability */
  flex-grow: 0;
}

.MP1 img {
    border-radius: 1.5rem;
    align-items: end;
}

.MP1 h2 {
    text-align: start;
    align-items: start;
}

.ActivitiesList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    margin-right: 2rem;
    font-weight: 450;
}

.ActivitiesList ul {
    list-style: none;
}

.ActivitiesList a:hover {
    background: #8db168;
    transition: 0.5s;
}

.ActivitiesList a {
    background-color: #A0C878;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer1 {
    display: flex;
    background-color: #A0C878;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 3rem;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    flex-wrap :unset;
}

.footer1 li {
    list-style: none;
    flex-grow: 1;
}

.footer1 img {
    height: 3rem;
    width: 30rem;
}

h6 {
    display: flex;
    justify-content: left;
    text-align: left;
}

.MP2 {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: start;
    align-content: start;
    max-width: 2000px;
    margin: 0;
    padding: 0;
    gap: 13rem;
}

.MP2 p {
  font-family: "Roboto", sans-serif;
  color: #A0C878;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 2rem;
  text-align: justify;   /* justify text instead of center */
  max-width: 2000px;      /* keeps text neat and readable */
  line-height: 1.6;      /* improves readability */

}

.MP2 ul {
    display: flex;
    align-items: start;
    text-align: start;
}

.mpwix {
    display: flex;
    justify-content: right;
    text-align: right;
}

.ABIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ABIMG img {
    border-radius: 1rem;
}

.tcimgb {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.tcimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

@media (max-width: 45em) {
    ul.Nav {
        flex-direction: column;
    }

    .list111 {
        flex-direction: column;
        position: static;
        transform: none;
    }

    .logo1 img {
        display: flex;
        justify-content: center;
        text-align: center;
        transform: translateX(-8%);
        width: 70%;
        height: auto;
        align-items: center;
    }

    .MP1 h2 {
        font-size: 1.5rem;
    }

    .MP1 img {
        max-width: 60vw;
        height: auto;
    }

    .footer1 img{
        width: 35vw;
        height: 6vw;
    }
}

@media (max-width: 70em) {
    .MP2 {
        flex-direction: column;
        gap: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
    }

    .MP2 p {
        text-align: center;
        justify-content: center;
        margin: 0.5rem 0;
    }

    .MP1 {
        justify-content: center;
    }

    ul.FPMLi {
        align-items: center;
        max-width: 40rem;
        width: 100%;
    }
}

@media (min-width: 50em) {
    ul.Nav {
        font-size: 1.6rem;
    }
}

@media (max-width: 75em) {
    .Blog1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    aside img {
        width: 40vw;
        height: auto;
    }
}

@media (max-width: 75em) {
    .Bod {
        flex-direction: column;
    }
}
